body {
    /* background-color: black; */
    background-image: url('background2.jpg');
}

.main-div {
    background-color: transparent;
    height: 100px;
    width: 100%;
}

.close {
    border: 0px;
    margin: 1%;
    font-size: 40px;
    float: right;
    color: white;
    background: transparent;
    height: 55px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: 5px;

}

.close:hover {
    color: white;
    transition: 0.2s;
    /* border: 1px solid grey; */
}

.logo {
    margin: 1%;
    float: left;
    border-radius: 50%;
    height: 70px;
    width: 100px;
}

.data-1 {
    display: inline;
    border-right: 1px solid burlywood;
    margin-top: 2%;
    /* background-color: aqua; */
}

.data-1 .data {
    padding-left: 10px;
    color: aqua;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Plans table */
.plan {
    margin-left: 60px;
    margin-right: -10%;
    /* float: right; */
}

table {

    /* color: white; */
    float: right;
    /* border: 0px; */
    width: 100%;
    /* background-color: grey; */
    /* height: 500px; */
}

table tr {

    font-size: x-large;
    width: 100%;
    color: aqua;
}

table tr th {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

table tr td {
    border-left: 1px solid aqua;
    padding-top: 20px;
    padding-bottom: 20px;
}

.check {
    font-size: x-large;

}

/* Buttons */
.button-div {
    margin-top: 40px;
    margin-left: 45%;
    display: inline-block;
}

.button {
    margin-right: 20px;
    backdrop-filter: blur(4px);
    border: 0px;
    height: auto;
    padding: 20px;
    width: 180px;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: blue;
    border-radius: 20%;
    float: right;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 15px 3px black;
    transition: 0.2s;
    /* border: 1px solid white; */
    background-color: rgb(17, 10, 10);
    color: white;
}

.submit-div {
    margin-top: 2%;
    margin-right: 15%;
}

.submit {
    background-color: transparent;
    box-shadow: 1px 1px 15px 5px black;
    color: white;
    font-size: 25px;
    width: 500px;
    padding: 10px;
    border-radius: 20%;
    border: 1px solid aqua;
}

.submit:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 15px 5px black;
    transition: 0.2s;
}